@import "tailwindcss";
@import url(./shared/global.css);

:root {
    --main-bg: #000000;
    --home-bg: #E7D5F6;
    --screen-bg: #351353;
    --login-bg: #1B092A;
    
    --accent: #852FD0;
    --accent-dark: #6A26A6;

    --text-dark: #1B092A;
    --text-light: #F3EAFA;

    --surface: #ffffff;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--main-bg);
}

a {
    text-decoration: none;
}

/* Home Page */
.home-container {
    @apply h-[100vh] w-[100vw] flex bg-[var(--home-bg)] rounded-3xl;
}

/* Sidebar Component */
.sidebar-container {
    @apply w-[100px] h-full flex flex-col justify-between items-center border-r-3 border-[var(--surface)] py-8;
}

.profile-pic {
    @apply w-14 h-14 rounded-2xl ;
}

.sidebar-btn {
    @apply flex flex-col justify-evenly items-center;
}

.sidebar-items {
    @apply flex flex-col justify-center items-center my-4 w-[70px] h-[50px] border-2 border-transparent text-[var(--text-dark)] rounded-xl transform hover:scale-105 hover:text-[var(--accent-dark)] transition-all duration-500 opacity-50;
}

.sidebar-items.active {
    @apply text-[var(--accent-dark)] bg-[var(--text-light)] opacity-100;
}

.sidebar-item {
    @apply text-sm;
}

/* Login Screen */
.login-screen {
    @apply bg-[var(--login-bg)] h-[100vh] w-[1000vw] flex flex-col items-center justify-center overflow-hidden;
}

.logo {
    @apply w-[30%];
}

.login-btn {
    @apply w-[200px] py-4 text-center bg-[var(--home-bg)] rounded-[50px] text-[var(--text-dark)] font-semibold mt-[20%];
}

